.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formContainer input {
    width: 100%;
    height: 40px;
  }


  
.formContainer button {
        width: 100%; /* Make the buttons take up full width */
        margin-top: 10px; /* Add some space between buttons */
        text-align: center; /* Center the button text horizontally */
}
